<div>
    此处填写的为武器加成，或者加上生效的角色buff加成
</div>


<div class="g-flex-between">
  <div class="desc-title">主角攻击力</div>
  <nz-input-number
    style="width: 80px"
    [(ngModel)]="extra.atk"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
    <div class="desc-title">敌人防御力</div>
  <nz-input-number
    [(ngModel)]="extra.defense"
    [nzSize]="'small'"
    [nzMin]="1"
    [nzStep]="1"></nz-input-number>
</div>

<div class="g-flex-between">
  <div class="desc-title">当前主角hp(%)</div>
  <nz-input-number
    [(ngModel)]="extra.hp"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>

</div>

<div class="desc g-flex-between" >
  <div>攻刃(%)</div>
  <nz-input-number
    [(ngModel)]="extra.atkBuff"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
  <div>属攻(%)</div>
  <nz-input-number
    [(ngModel)]="extra.attribute"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
</div>

<div class="desc g-flex-between">
  <div>技伤(%)</div>
  <nz-input-number
    [(ngModel)]="extra.skill"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
  <div class="desc-label">奥伤(%)</div>
  <nz-input-number
    [(ngModel)]="extra.ub"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>

</div>

<div class="g-flex-between">
  <div class="desc-label">暴击(%)</div>
  <nz-input-number
    [(ngModel)]="extra.cri"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
  <div class="desc-label">爆伤(%)</div>
  <nz-input-number
    [(ngModel)]="extra.criDamageRadio"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
</div>

<div class="g-flex-between">
  <div class="desc-label">DA(%)</div>
  <nz-input-number
    [(ngModel)]="extra.da"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
  <div class="desc-label">TA(%)</div>
  <nz-input-number
    [(ngModel)]="extra.ta"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
</div>


<div class="g-flex-between">
  <div class="desc-label">武器背水(%)</div>
  <nz-input-number
    [(ngModel)]="extra.weaponEnmity"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
  <div class="desc-label">武器浑身(%)</div>
  <nz-input-number
    [(ngModel)]="extra.weaponStamina"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
</div>

<div class="g-flex-between">
  <div class="desc-label">技能背水(%)</div>
  <nz-input-number
    [(ngModel)]="extra.sklEnmity"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
  <div class="desc-label">技能浑身(%)</div>
  <nz-input-number
    [(ngModel)]="extra.sklStamina"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
</div>