<div class="core">
  <img
    [src]="imgSrc"
    class="core-img"
    nz-popover
    [nzPopoverTitle]="titleTemplate"
    [nzPopoverTrigger]="showTip ? 'hover' : null"
    [nzPopoverContent]="contentTemplate" />

  <div
    class="core-name"
    nz-popover
    nzPopoverOverlayClassName="ant-popover-maxwidth"
    [nzPopoverTitle]="titleTemplate"
    [nzPopoverContent]="contentTemplate"
    [nzPopoverTrigger]="!showTip ? 'hover' : null">
    {{ coreName }}
  </div>
  <div class="core-rarity">{{ rarity }}</div>
</div>

<ng-template #titleTemplate>
  <span>{{ core.data.name }}</span>
</ng-template>
<ng-template #contentTemplate>
  <div>
    <div>{{ skill1.name }}：{{ skill1.cnDescription }}</div>
    <ng-container *ngIf="skill2">
      <div>{{ skill2.name }}：{{ skill2.cnDescription }}</div>
    </ng-container>
  </div>
</ng-template>
