<div class="core-item">
  <div
    appDragDropBox
    appCdrag
    class="img-box g-flex"
    [dragData]="{ index: index, data: weapon }"
    (dragDroped)="dragDroped($event)">
    <button nzSize="small" (clickStop)="onDeleteCore()" *ngIf="weapon.core" nz-button nzType="default" nzShape="circle" class="close">
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </button>

    <app-etimg *ngIf="weapon.core" [showTip]="false" [core]="weapon.core"></app-etimg>
    <!-- <i nz-icon class="add" *ngIf="!weapon.core" nzType="plus" nzTheme="outline"></i> -->
  </div>

  <div style="padding: 5px">
    <div class="g-flex" style="margin-bottom: 5px">
      <span style="width: 32px; flex-shrink: 0">Lv</span>
      <nz-input-number
        [(ngModel)]="weapon.lv"
        (nzBlur)="onDataChange()"
        [nzSize]="'small'"
        [nzMin]="1"
        [nzStep]="1"></nz-input-number>
    </div>
    <div class="g-flex">
      <span style="width: 32px; flex-shrink: 0">slv</span>
      <nz-select
        style="flex-grow: 1"
        [nzSize]="'small'"
        [(ngModel)]="weapon.sLv"
        (ngModelChange)="onDataChange()"
        nzAllowClear>
        <nz-option *ngFor="let item of sLvOption" [nzLabel]="item.label" [nzValue]="item.value">
        </nz-option>
      </nz-select>
    </div>
    <div class="g-flex">
      <span style="width: 32px; flex-shrink: 0">exLv</span>
      <nz-select
        style="flex-grow: 1"
        [nzSize]="'small'"
        [(ngModel)]="weapon.exLv"
        (ngModelChange)="onDataChange()"
        nzAllowClear>
        <nz-option *ngFor="let item of exLvOption" [nzLabel]="item.label" [nzValue]="item.value">
        </nz-option>
      </nz-select>
    </div>
  </div>
</div>
