<div class="g-flex" style="padding: 5px 0">
  <div class="desc-title">技能倍率(%)</div>
  <nz-input-number
    style="width: 80px"
    [(ngModel)]="skillRatio"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
  <div class="desc-title">奥义倍率(%)</div>
  <nz-input-number
    style="width: 80px"
    [(ngModel)]="ubRatio"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
</div>

<nz-table
  [nzWidthConfig]="['25%', '25%', '25%', '25%']"
  style="margin: 8px 0"
  [nzBordered]="true"
  nzSize="small"
  [nzData]="[1]"
  [nzShowPagination]="false">
  <thead>
    <tr>
      <th>技伤</th>
      <th>技伤上限</th>
      <th>奥义</th>
      <th>奥义上限</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ skill | fixed }}</td>
      <td>{{ skillLimit | fixed }}</td>
      <td>{{ ub | fixed }}</td>
      <td>{{ ubLimit | fixed }}</td>
    </tr>
  </tbody>
</nz-table>

<nz-table [nzBordered]="true" nzSize="small" [nzData]="[1]" [nzShowPagination]="false">
  <thead>
    <tr>
      <th></th>
      <th>技能</th>
      <th>奥义</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>通常</td>
      <td>{{ sklDmage | fixed: 0:false }}</td>
      <td>{{ ubDamage | fixed: 0:false }}</td>
    </tr>
    <tr>
      <td>有利</td>
      <td>{{ sklUpDamage | fixed:0:false }}</td>
      <td>{{ ubUpDamage | fixed:0:false }}</td>
    </tr>
    <tr>
      <td>不利</td>
      <td>{{ sklDownDamage | fixed: 0:false }}</td>
      <td>{{ ubDownDamage  | fixed: 0:false }}</td>
    </tr>
  </tbody>
</nz-table>
