.core {
    &-item {
        border-radius: 8px;
        box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 20%);
        img {
            width: 100%;
            border-radius: 8px;
        }
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}