<div class="desc">
  <span class="desc-title">属性</span>
  <nz-select
    nzSize="small"
    style="width: 55px"
    (ngModelChange)="elementChange()"
    [(ngModel)]="panelData.element">
    <nz-option
      *ngFor="let item of coreOption"
      [nzValue]="item.value"
      [nzLabel]="item.label"></nz-option>
  </nz-select>
</div>

<div class="desc">
  <span class="desc-title">主召唤(%)</span>
  <nz-select
    nzSize="small"
    style="width: 80px; margin: 0 5px"
    [(ngModel)]="panelData.mainRobot"
    nzAllowClear>
    <nz-option *ngFor="let item of robotOption" [nzLabel]="item.label" [nzValue]="item.value">
    </nz-option>
  </nz-select>
  <nz-input-number
    [(ngModel)]="panelData.mainRobotValue"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
</div>
<div class="desc">
  <span class="desc-title">友召(%)</span>
  <nz-select
    nzSize="small"
    style="width: 80px; margin: 0 5px"
    [(ngModel)]="panelData.subRobot"
    nzAllowClear>
    <nz-option *ngFor="let item of robotOption" [nzLabel]="item.label" [nzValue]="item.value">
    </nz-option>
  </nz-select>
  <nz-input-number
    [(ngModel)]="panelData.subRobotValue"
    [nzSize]="'small'"
    [nzMin]="0"
    [nzStep]="1"></nz-input-number>
</div>

<div class="g-flex">
  <div class="desc">
    <span class="desc-title">综合HP</span>
    <span class="desc-title pure-hp">{{ panelData.pureHp }}</span>
  </div>
  <div class="desc">
    <span class="desc-title">综合攻击力</span>
    <span class="desc-title pure-atk">{{ panelData.pureAtk }}</span>
  </div>
</div>

<nz-tabset nzSize="small">
  <nz-tab nzTitle="额外信息">
    <app-extra-info [extra]="extra"></app-extra-info>
  </nz-tab>
  <nz-tab nzTitle="结果">
    <app-result
      [atkBonus]="atkBonus"
      [hpBonus]="hpBonus"
      [hp]="extra.hp"
      [da]="da"
      [ta]="ta"
      [critical]="critical"
      [criticalDamageRatio]="criticalDamageRatio"
      [skill]="skill"
      [skillLimit]="skillLimit"
      [ub]="ub"
      [ubLimit]="ubLimit"
      [magunaEnmity]="magunaEnmity"
      [normalEnmity]="normalEnmity"
      [exEnmity]="exEnmity"
      [weaponEnmity]="extra.weaponEnmity"
      [sklEnmity]="extra.sklEnmity"
      [magunaStamina]="magunaStamina"
      [normalStamina]="normalStamina"
      [exStamina]="exStamina"
      [weaponStamina]="extra.weaponStamina"
      [sklStamina]="extra.sklStamina"
      ></app-result>
  </nz-tab>

  <nz-tab nzTitle="伤害预测">
    <app-attck
      [atkDamage]="atkDamage"
      [skillLimit]="skillLimit"
      [ubLimit]="ubLimit"
      [ub]="ub"
      [skill]="skill"
      [criticalDamageRatio]="criticalDamageRatio"
      [extra]="extra"></app-attck>
  </nz-tab>

  <nz-tab nzTitle="伤害期望">
    <app-expect
      [atkDamage]="atkDamage"
      [ta]="ta"
      [da]="da"
      [criticalDamageRatio]="criticalDamageRatio"
      [critical]="critical"></app-expect>
  </nz-tab>
</nz-tabset>

