<div nz-row nzGutter="8">
  <div nz-col nzSpan="10">
    <div class="desc">
      <span class="desc-title">属性</span>
      <nz-select
        nzSize="small"
        style="width: 80px"
        (ngModelChange)="elementChange()"
        [(ngModel)]="panelData.element">
        <nz-option
          *ngFor="let item of coreOption"
          [nzValue]="item.value"
          [nzLabel]="item.label"></nz-option>
      </nz-select>
    </div>

    <div class="desc">
      <span class="desc-title">主召唤(%)</span>
      <nz-select
        nzSize="small"
        style="width: 80px; margin: 0 5px"
        [(ngModel)]="panelData.mainRobot"
        nzAllowClear>
        <nz-option *ngFor="let item of robotOption" [nzLabel]="item.label" [nzValue]="item.value">
        </nz-option>
      </nz-select>
      <nz-input-number
        [(ngModel)]="panelData.mainRobotValue"
        [nzSize]="'small'"
        [nzMin]="0"
        [nzStep]="1"></nz-input-number>
    </div>
    <div class="desc">
      <span class="desc-title">友召(%)</span>
      <nz-select
        nzSize="small"
        style="width: 80px; margin: 0 5px"
        [(ngModel)]="panelData.subRobot"
        nzAllowClear>
        <nz-option *ngFor="let item of robotOption" [nzLabel]="item.label" [nzValue]="item.value">
        </nz-option>
      </nz-select>
      <nz-input-number
        [(ngModel)]="panelData.subRobotValue"
        [nzSize]="'small'"
        [nzMin]="0"
        [nzStep]="1"></nz-input-number>
    </div>

    <div nz-row nzGutter="8">
      <div nz-col nzSpan="12">
        <span class="desc-title">回响HP</span>
        <span class="pure-hp">{{ panelData.pureHp }}</span>
      </div>
      <div nz-col nzSpan="12">
        <span class="desc-title">回响攻击力</span>
        <span class="pure-atk">{{ panelData.pureAtk }}</span>
      </div>
    </div>

    <app-extra-info [extra]="extra"></app-extra-info>
  </div>

  <nz-tabset nz-col nzSpan="14" nzSize="small" nzType="card">
    <nz-tab nzTitle="结果">
      <app-result
        [hpBonus]="hpBonus"
        [hpPercent]="extra.hpPercent"
        [critical]="critical"
        [criticalDamageRatio]="criticalDamageRatio"
        [magunaEnmity]="magunaEnmity"
        [normalEnmity]="normalEnmity"
        [exEnmity]="exEnmity"
        [weaponEnmity]="extra.weaponEnmity"
        [sklEnmity]="extra.sklEnmity"
        [magunaStamina]="magunaStamina"
        [normalStamina]="normalStamina"
        [exStamina]="exStamina"
        [weaponStamina]="extra.weaponStamina"
        [sklStamina]="extra.sklStamina"
        [attributeBonus]="attributeBonus"
        [magunaAtk]="magunaAtk"
        [normalAtk]="normalAtk"
        [exAtk]="exAtk"
        [atkDamage]="atkDamage"
        [pureHp]="pureHp"></app-result>
    </nz-tab>

    <nz-tab nzTitle="连击暴击">
      <app-combo-critical
        [atkDamage]="atkDamage"
        [extra]="extra"
        [critical]="critical"
        [ta]="ta"
        [criticalDamageRatio]="criticalDamageRatio"
        [da]="da"></app-combo-critical>
    </nz-tab>

    <nz-tab nzTitle="技能奥义">
      <app-skl-ub
        [atkDamage]="atkDamage"
        [skill]="skill"
        [ub]="ub"
        [ubLimit]="ubLimit"
        [skillLimit]="skillLimit"></app-skl-ub>
    </nz-tab>
  </nz-tabset>
</div>
