<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col nzSpan="4">
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
    </div>
    <div nz-col nzSpan="4">
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
    </div>
    <div nz-col nzSpan="4">
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/亚特拉斯.png" alt="">
        </div>
    </div>
    <div nz-col nzSpan="4">
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/亚特拉斯.png" alt="">
        </div>
    </div>
    <div nz-col nzSpan="4">
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
    </div>
    <div nz-col nzSpan="4">
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
        <div class="core-item">
            <img src="https://cdn.jsdelivr.net/gh/elernal-tree/elernal-tree@master/static/image/land/钢岩伽玛Ⅱ型.png" alt="">
        </div>
    </div>
</div>